NODE_ENV=production
PORT=3000
PUBLIC_BASE_URL=https://sakura-bot-fagc.onrender.com
STORE_URL=https://salla.sa/sakura_land
TELEGRAM_BOT_TOKEN=8747917521:AAEFcYpm3iBvnuJkjfPmom0ipuOeBhZ969c
TELEGRAM_ADMIN_CHAT_ID=1628671884

SALLA_CLIENT_ID=335f7aa4-0579-401b-8d69-0aaaeed0fbd4
SALLA_CLIENT_SECRET=4f39cd1770c7780f3113e7163fe913413b59f464b890b4c69216d1e78b6e47da
SALLA_REDIRECT_URI=https://sakura-bot-fagc.onrender.com/callback
SALLA_TOKEN_URL=https://accounts.salla.sa/oauth2/token
SALLA_API_BASE=https://api.salla.dev/admin/v2

DATABASE_URL=postgresql://sakuraland_user:AWPY1maYpqVdJtHbmDt9lz84J9Qz3ZSl@dpg-d79alis50q8c73ffk6kg-a/sakuraland
REDIS_URL=redis://default:gQAAAAAAAWpmAAIncDExMjZlYWZlMTQ1N2M0MzFhODhmZTAzZDRmMjRjNGI1MnAxOTI3NzQ@profound-mayfly-92774.upstash.io:6379

DEFAULT_DAILY_LIMIT=3
ORDER_TIMEOUT_MINUTES=5
MAX_FAILED_ATTEMPTS=5
TEMPORARY_BLOCK_MINUTES=30
